boto3==1.6.6
ec2_metadata==1.6.0
google-compute-engine==2.7.6
Jinja2==2.10
moto==1.2.0
pre_commit==1.7.0
pylint==1.8.2
pyoai==2.5.0
pytest_cov==2.5.1
python_dateutil==2.7.0
requests==2.18.4
tqdm==4.19.6
